*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 0;
    outline: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #cdcdcd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 375px;
    height: 520px;
    background-color: #fff;
    overflow-y: scroll;
    border-radius: 5px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.container::-webkit-scrollbar{
    display: none;
}

.container__form{
    width: 100%;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.container__input{
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 10px;
}

.container__icon{
    padding-right: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.products--list{
    padding: 20px 0;
}

.product{
    cursor: pointer;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__description{
    font-size: 1.2rem;
    font-weight: 100;
    color: #1d1d1d;
    text-transform: capitalize;
}

.product__price{
    font-weight: 100;
    color: rgba(0,0,0,.5);
    font-size: 1rem;
}