body{
    background-color: #0e1013;
}

h1{
    max-width: 480px;
    text-align: center;
    margin: 4rem auto;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

h1::after{
    content: '|';
    margin-left: .3rem;
    opacity: 1;
    animation: blink .7s infinite;
}

@keyframes blink{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}