@charset "UTF-8";

:root{
    --cor1: #383675;
    --cor2: #7571F5;
    --cor3: #1B1A38;
    --cor4: #6965DB;
    --cor5: #DBE9EE;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;
}

body{
    background-color: var(--cor1);
}

header{
    text-align: center;
    background-color: var(--cor3);
    box-shadow: 10px 0px 10px var(--cor3);
    padding: 10px 0px;
}

h1{
    width: 369px;
    font-size: 2.5em;
    border: 2px solid var(--cor2);
    margin: auto;
    padding: 10px;
    color: var(--cor2);
    transition: all 0.3s ease-in-out;
}

h1:hover{
    box-shadow: 0 0 15px var(--cor2), inset 0 0 15px var(--cor2);
    text-shadow: 0 0 15px var(--cor2);
}

main{
    margin: 10px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: transparent;
}

#caixa-formatacao, #caixa-tags-palhetas{
    width: 100%;  
}

#caixa-formatacao, #caixa-simbolos, #caixa-emojis-favicon, #caixa-tags-palhetas{
    text-align: center;
}

.destaque{
    font-size: 2em;
    padding: 5px;
}

#tags-formatacao, #tags-simbolos, .link-emoji-favicon, #tags-uteis, #site-palhetas{
    padding: 15px;
    border: 1px solid white;
}

p > mark{
    background-color: var(--cor2);
    padding: 2px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

a:hover{
    border-radius: 5px;
    text-decoration: underline;
    color: var(--cor2);
}

#caixa-pai{
    margin: 15px 0px;
    width: 100%;
}

#caixa-simbolos, #caixa-emojis-favicon{
    width: 49.7%;
    display: inline-block;
}

.link-emoji-favicon{
    margin-top: 41px;
}

.links{
    padding: 0px 50px;
}

#rodape{
    text-align: center;
    background-color: var(--cor3);
    padding: 10px;
}

#texto-rodape{
    color: var(--cor5);
    font-size: 1.5em;
}

/* Estilizando a barra de rolagem da página */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor4);
}

