@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background: #333;
}

.container{
    display: inline-flex;
}

.static--text{
    color: #fdfdfd;
    font-size: 3.5rem;
    font-weight: 400;
}

.dynamic--text{
    margin-left: 1rem;
    height: 80px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic--text li{
    color: deeppink;
    font-size: 3.5rem;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite; 
}

@keyframes slide{
    100%{
        top: -360px;
    }
}

.dynamic--text span{
    position: relative;
}

.dynamic--text span::after{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #333;
    border-left: 2px solid deeppink;
    animation: typing 1.5s steps(10) infinite;
}

@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}